html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  color: #4f5665;
  background-color: #f6f6f6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0b132a;
}
.header {
  padding-top: 45px;
  padding-bottom: 88px;
}
.container {
  max-width: 1135px;
  margin: 0 auto;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.header__bold {
  font-weight: 700;
}
.header__nav {
  display: flex;
  gap: 40px;
}
.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #4f5665;
}
.header__links {
}
.header__btn {
  padding: 13px 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0b132a;
}
.header__btn-red {
  padding: 13px 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f53855;
  border-radius: 50px;
  border: 1px solid #f53855;
}
.home {
  padding-bottom: 95px;
}
.home__row {
  display: flex;
  gap: 40px;
  margin-bottom: 103px;
}
.home__info {
}
.home__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
.home__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 50px;
}
.home__btn {
  padding: 17.5px 77.5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  background-color: #f53838;
}
.home__img {
  max-width: 570px;
}
.home__list {
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 37px 91px;
  display: flex;
}
.home__table {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home__table p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}
.home__item {
  display: flex;
  gap: 36.5px;
  align-items: center;
}
.home__icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffecec;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__line {
  height: 125.5px;
  width: 2px;
  background-color: #eeeff2;
}
.home__tabletitle {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0%;
}
.about {
  padding: 95px 0;
  background-color: #f6f6f6;
}
.about__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.about__img {
  max-width: 508px;
}
.about__info {
  max-width: 427px;
}
.about__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
.about__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
}
.about__marker {
  display: flex;
  gap: 12px;
  align-items: center;
}
.plan {
  padding: 80.27px 0;
}
.plan__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
.plan__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 60px;
  align-items: center;
}
.plan__table {
  padding: 79.63px 92.55px;
  border: 2px solid #dddddd;
  background-color: #ffffff;
}
.plan__img {
  max-width: 144px;
  margin-bottom: 30px;
}
.table__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 30px;
}
.plan__list {
  margin-bottom: 130px;
}
.plan__marker {
  display: flex;
  justify-content: flex-start;
  gap: 10.27px;
}
.table__subtitle {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 33px;
}
.button__btn-red_white {
  padding: 13px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f53855;
  border-radius: 50px;
  background-color: #ffffff;
  border: 2px solid #f53855;
}
.button__btn-red {
  padding: 13px 62.94px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  border-radius: 50px;
  background-color: #f53838;
  border: 1px solid #f53855;
}
.global {
}
.global__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 150px;
}
.global__text {
  padding-top: 20px;
  padding-bottom: 155px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: #4f5665;
}
.plan__map {
  width: 1059px;
  height: 537px;
}
.global__sites {
}
.global__icon {
}
.feedback {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.feedback__title {
  padding-top: 50px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
}
.feedback__text {
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;
}
.feedback__block {
}
.feedback__photo {
  width: 50;
  height: 50;
}
.feedback_name {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
}
.feedback__location {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #4f5665;
}
.rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.feedback__star {
}
.feedback__messages {
  width: 340px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
}
.feedback__dots {
}
.feedback__circle {
}
.feedback__btn1 {
}
.feedback__arrow {
}
.feedback__btn2 {
}
.container__subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.subscribe {
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0%;
}
.subscribe__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
}
.btn__subscribe {
  padding: 13px 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0%;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #f53855;
  background-color: #f53838;
  font-family: Rubik;
}
.footer {
  padding-top: 66px;
  padding-bottom: 100px;
  background-color: #f8f8f8;
}
.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__logo {
}
.footer__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
}
.footer__bold {
}
.footer__text {
}
.footer__icon {
}
.footer__text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #afb5c0;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
